.nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
  position: relative;
  padding: 10px;
  z-index: 100;
}

.nav-section {
  flex: 1;
}

.nav-logo {
  background-color: #fe024e;
  height: 80%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  border-radius: 20%;
  margin-left: 10%;
}

.nav-header {
  margin-left: 2%;
  font-size: 3em;
}

.nav-search {
  margin-left: 10%;
  /* border-radius: 20%; */
  padding: 10px;
  color: #c4c4c4;
  font-size: 2em;
  border: 1px solid #c4c4c4;
  height: 60%;
  width: 30%;
}

.nav-signin {
  margin-left: 15%;
  font-size: 2em;
  border: none;
  background: none;
  width: 100px;
}

.signin-modal {
  width: 300px;
  height: 500px;
  background: white;
  color: black;
  top: 500;
}

.content {
  padding: 10px 10%;
}

.content-links {
  width: 100%;
  display: flex;
}

.link-button {
  color: #8c8989;
  font-size: 1.5em;
  width: 10%;
  text-align: center;
}

.active {
  background: #eb507f;
  color: white;
  border-radius: 10%;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 300px;
  background: black;
  padding: 20px 100px;
  display: flex;
  color: white;
}

.footer-brand {
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 60px;
  font-size: 2em;
}

.footer-section-brand {
  width: 50%;
}

.footer-section {
  width: 25%;
}

.footer-links {
  margin-top: 30px;
  font-size: 1.5em;
  padding: 10px;
}

.footer-logo {
  height: 50px;
  width: 50px;
  background: #fe024e;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20%;
}

.movie-list {
  padding: 10px 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.movie-card {
  margin-right: 10px;
  width: 20%;
  flex-grow: 1;
  flex: 1;
}

.movie-card img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
